:root {
--text-color-site:  #434455; /* основний колір тексту сайту */
--background-site: #ffffff; 
--title-color-hhh:  #2E2F42; /* color title h2, h3*/
--web-logo-color:  #4D5AE5; 
--logo-nav-color:  #2E2F42;
--nav-menu-color:  #2E2F42;
--nav-menu-active-color:  #404BBF;
--button-color:  #ffffff;
--text-hero: #ffffff;
--button-background:  #4D5AE5;
--button-hover-background:  #404BBF;
--hover-address-color:  #434455;
--active-address-color:  #404BBF;
--logo-futer-color:  #F4F4FD;
--text-futer-color: #E7E9FC;
--text-button-portfolio:#4D5AE5;
--text-button-portfolio-active: #FFFFFF;
--background-radio-button:#F4F4FD; 
--button-portfolio-activ: #404BBF;
--background-color-herofut: #2E2F42;
--background-section-team:#F4F4FD;

}
/* Скриття заголовків */
 .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} 
/* Reset dot and underline */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: var(--text-color-site);
background-color: var(--background-site);
}

/* hedader */
.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-nav-color);
    }

.logo {
  color: var(--web-logo-color);
}

.menu-link {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--nav-menu-color);
}
.menu-link:hover, 
.menu-link:focus {
  color:var(--nav-menu-active-color);
}
.mail-link, .tel-link {
   font-style: normal;
   line-height: 1.5;
  letter-spacing: 0.02em;  
  color:var(--hover-address-color);
}

.tel-link:hover,
.tel-link:focus {
  color:var(--active-address-color);
}
.mail-link:hover, 
.tel-link:focus {
  color: var(--active-address-color);
}

/* hero */
.hero {
  background-color:var(--background-color-herofut);
}
.hero-caption {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color:var(--text-hero);
}
.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color:var(--button-color);
  background-color: var(--button-background);
  cursor: pointer;
}
.hero-btn:hover, 
.hero-btn:focus {
  background-color: var(--button-hover-background);
}

/* section the best */
.best-list-hd {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em; 
    color: var(--title-color-hhh);
}
.best-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Section 3 What are we doing */
.job-heading, .team-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    color:var(--title-color-hhh);
}
/* section our team */
.team {
  background-color: var(--background-section-team);
}
.team-item-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color-hhh);
}
.team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
 /* futer */
 .last {
  background-color: var(--background-color-herofut);
 }
 .last>.link-logo {
color:var(--text-hero);
 }
 .last-text {
  color: var(--text-futer-color);
 }

 /* PAGE PORTFOLIO */

 .radio-filter {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--text-button-portfolio);
  background-color:var(--background-radio-button);
  cursor: pointer;
 }
 .radio-filter:hover, .radio-filter:focus {
  color: var(--text-button-portfolio-active);
  background-color: var(--button-portfolio-activ);
 }
 .work-item-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color-hhh);
 }
 .work-item-text {
  color: var(--text-color-site);
  }